*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1D1D1D;
}



/*--HEADER--*/

.header{

 
}

.nav__links{
    background-color: #4D4D4D;
}
.nav__links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.nav__links ul li{
    list-style: none;
    margin-left: 30px;
}
.nav__links ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto";
}



.text__box{
    text-align: center;
    margin-top: 40px;
}
.text__box h1{
    color: #FFFFFF;
    font-size: 90px;
    font-family: Roboto;
}
.text__box h2{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 20px;
    font-family: Roboto;
}


/*
.semi-circulo {
    margin: 0 auto;
    width: 2131px;
    height: 1000px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #343434;
    z-index: -100;
    position: relative;
    top: -700px;
}
*/


/*--MAIN*/

.main{
    margin-top: 100px;
}

.main__elem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    position: relative;
}

.main__one::before{
    content: "";
    width: 49.5%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
}
.main__two::before{
    content: "";
    width: 49.5%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
}

.main__elem img{
    width: 100%;
    display: block;
}
.main__one .main__text{
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    bottom: 30%;
    left: 19%;
    font-family: Roboto;
    font-size: 25px;
}
.main__one .main__text p{
    color: #c2c2c2;
}
.main__two .main__text{
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    bottom: 30%;
    left: 73%;
    font-family: Roboto;
    font-size: 25px;
}
.main__two .main__text p{
    color: #c2c2c2;
}


/*--TECHNOLOGIES--*/

.main__tech{
    margin-top: 100px;
}
.tech__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech__list li{
    list-style: none;
    margin-left: 100px;
}

.circulo{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #343434;
}